{
    "tabWidth": 4,
    "useTabs": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": true,
    "printWidth": 110
}