@import 'src/assets/scss/settings';

.product {
	border-radius: $border-radius;
	border: 1px solid var(--#{$prefix}gray-300);

	img {
		border-radius: $border-radius $border-radius 0rem 0rem;
	}
}

.image {
	// background-color: rgba($color: #000000, $alpha: 0.03);
	// padding: 0.5rem;
	padding-bottom: 0.5rem;
}
.content {
	padding: 0.5rem;
}

.title {
	margin-bottom: 0.5rem;
}

.description {
	margin-bottom: 0.5rem;
	max-height: 2.5rem;
	overflow: hidden;
}

.price {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
