@import 'src/assets/scss/settings';

.bgOverlay {
	background: linear-gradient(-180deg, transparent, var(--#{$prefix}body-bg));
	position: relative;
	z-index: 1;
}

.container {
	padding-bottom: 2rem;
}

.categories {
	padding-top: 20rem;

	@include media-breakpoint-up(lg) {
		margin-top: -32.5rem;
	}
}
