@import 'src/assets/scss/settings';

.category {
	background-color: $white;
	box-shadow: $box-shadow-sm;
	padding: 0.5rem;
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
	border-radius: $border-radius;

	img {
		border-radius: $border-radius;
	}
}
